connect("{{ domain_spec.username }}","{{ domain_spec.password }}","{{ domain_spec.admin_url }}");
nmEnroll("{{ domain_spec.home }}/{{ domain_spec.name }}","{{ domain_spec.home }}/{{ domain_spec.name }}/nodemanager");
exit()